@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Train One", system-ui;
  background-color: #413d3d;
}

div {
  width: 500px;
  height: 150px;
  border: 5px solid #444;
  border-radius: 5px;
  box-shadow: #00000066 2px 4px, #0000004d 0 7px 13px -3px, #00000033 0 -3px 0 inset;
}

span {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #222;
  color: #d30805;
  font-size: 80px;
}

